<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="app">
	<input type="text" v-model="item" required>
	<button type="submit" v-on:click="addItem()">Add item</button>

	<p v-if="items.length == 0">Item tidak ada</p>
	<ul>
		<li v-for="list in items">
			{{ list }} -
			<a href="#" v-on:click="removeItem(item)">Hapus</a>
		</li>
	</ul>
</div>

<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
new Vue({
		
		el: ".app",
		
		data: {
			items: [],
			item: ""
		},
		
		methods:{
			addItem(){
				this.items.push(this.item);
				localStorage.setItem('items', JSON.stringify(this.items));

				this.item = "";
			},
			removeItem(item){
				const index = this.items.indexOf(item);
				this.items.splice(index, 1);
				localStorage.setItem('items', JSON.stringify(this.items));
			},
		},

		created() {
			this.items = JSON.parse(localStorage.getItem('items')) || []
		}

	})
</script>
</body>
</html>